<div class="flex justify-end gap-2">
  Showing:
  <.link
    navigate={~p"/?filter_by=all"}
    class={[is_filter_by_selected?(@filter_by, "all"), "link"]}
  >
    All
  </.link>
  <.link
    navigate={~p"/?filter_by=active"}
    class={[is_filter_by_selected?(@filter_by, "active"), "link"]}
  >
    Active
  </.link>
  <.link
    navigate={~p"/?filter_by=completed"}
    class={[is_filter_by_selected?(@filter_by, "completed"), "link"]}
  >
    Completed
  </.link>
</div>
