<div>
  <.form
    :let={f}
    for={@changeset}
    id="item-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="create_item"
  >
    <%= label(f, :text) %>
    <%= text_input(f, :text) %>
    <.error :for={{msg, _} <- f[:text].errors}>
      <%= msg %>
    </.error>
    <%= submit("Add Item", phx_disable_with: "Adding...") %>
  </.form>
</div>
