<section class="flex flex-col gap-4">
  <h1 class="text-6xl pb-4 text-center">Todos</h1>
  <.live_component module={TodoWeb.FormComponent} item={@item} id="item_input" />
  <.live_component module={TodoWeb.FilterComponent} filter_by={@filter_by} id="filter_list" />
  <.live_component module={TodoWeb.ItemsComponent} items={@items} id="items_list" />
</section>
